exportPattern("^[[:alpha:]]+")
importFrom("stats", "shapiro.test", "predict", "qqline", "qqnorm")
importFrom("data.table", "data.table", "as.data.table")
importFrom("dplyr", "left_join")
importFrom("nortest", "pearson.test", "ad.test")
importFrom("graphics", "plot")
importFrom("forecast", "BoxCox", "BoxCox.lambda")
importFrom("rcompanion", "transformTukey", "plotNormalHistogram")
importFrom("plyr", "join_all")
importFrom("VGAM", "yeo.johnson")
importFrom("LambertW", "Gaussianize")
importFrom("bestNormalize", "orderNorm")
importFrom("forcats", "fct_rev")
importFrom("caret", "createDataPartition", "train", "multiClassSummary", "postResample", "prSummary", "nearZeroVar")
importFrom("pbmcapply", "pbmclapply")
